<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_13_Loops.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Print Job Titles (1.13.1)

In [1]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

for titles in job_titles:
  print(titles)

Data Scientist
Data Analyst
Machine Learning Engineer

---

## ðŸŸ© Total Job Postings (1.13.2)

In [2]:
# Code Needed
job_postings = [5, 10, 15, 20, 25]

i = 0
for num in job_postings:
  i = i + num
print(i)

75

---

## ðŸŸ¨ Print Job Titles with Index (1.13.3)

In [18]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

# for titles in enumerate(job_titles):
#   print(titles)

for title in range(len(job_titles)):
  item = job_titles[title]
  print(f"index: {title}, items: {item}")

index: 0, items: Data Scientist
index: 1, items: Data Analyst
index: 2, items: Machine Learning Engineer

---

## ðŸŸ¨ Find First Engineer (1.13.4)

In [20]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']

for title in job_titles:
  if 'Engineer' in title:
    print(title)
    break

Machine Learning Engineer

---

## ðŸŸ¥ Print Job Titles Containing 'Data' (1.13.5)

In [21]:
# Code Needed
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}

for titles in positions_skills:
  if 'Data' in titles:
    print(titles)

Data Scientist
Data Analyst

---